<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flyaudio.soundeffect">

    <application
        android:name=".main.activity.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--主界面-->
        <activity
            android:name=".main.activity.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--eq调节-->
        <activity
            android:name=".equalizer.activity.EqAdjustActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />


        <!--扬声器调节-->
        <activity
            android:name=".speaker.SpeakerVolumeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <!--时间校准-->
        <activity
            android:name=".delay.TimeCalibrationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />

        <!--喇叭设置-->
        <activity
            android:name=".trumpet.TrumpetSettingActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <!--衰减平衡-->
        <activity
            android:name=".balance.AttenuationEquilibriumActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <!--高低通滤波调节-->
        <activity
            android:name=".filter.EqFilterActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <!--导入音效-->
        <activity
            android:name=".backup.activity.ImportEffectActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <!--导出音效-->
        <activity
            android:name=".backup.activity.ExportEffectActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />

    </application>

</manifest>