<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flyaudio.soundeffect"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:name=".main.activity.SoundEffectApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--主界面-->
        <activity
            android:name=".main.activity.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--eq调节-->
        <activity
            android:name=".equalizer.activity.EqAdjustActivity"
            android:screenOrientation="landscape" />

        <!--扬声器调节-->
        <activity
            android:name=".speaker.activity.SpeakerVolumeActivity"
            android:screenOrientation="landscape" />
        <!--时间校准-->
        <activity
            android:name=".delay.activity.TimeCalibrationActivity"
            android:screenOrientation="landscape" />

        <!--喇叭设置-->
        <activity
            android:name=".trumpet.activity.TrumpetSettingActivity"
            android:screenOrientation="landscape" />
        <!--衰减平衡-->
        <activity
            android:name=".attenuator.activity.AttenuatorActivity"
            android:screenOrientation="landscape" />
        <!--高低通滤波调节-->
        <activity
            android:name=".filter.activity.EqFilterActivity"
            android:screenOrientation="landscape" />
        <!--导入音效-->
        <activity
            android:name=".backup.activity.ImportEffectActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <!--导出音效-->
        <activity
            android:name=".backup.activity.ExportEffectActivity"
            android:screenOrientation="landscape" />
        <!--测试模块-->
        <activity
            android:name=".test.activity.TestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <!--音效Dsp执行服务-->
        <service android:name=".dsp.service.EffectService">
            <intent-filter>
                <action android:name="flyaudio.init.dsp.effect" />
            </intent-filter>
        </service>

        <!--车机开机广播-->
        <receiver android:name=".main.receiver.BootReceiver">
            <intent-filter android:priority="0x7FFFFFFF">
                <action android:name="android.intent.action.BOOT_COMPLETED" /><!--重启广播-->
                <action android:name="com.flyaudio.intent.action.BOOT_ANIMATION_COMPLETE" /> <!--动画结束广播-->
                <action android:name="flyaudio.intent.action.ACC_ON" /> <!--acc_on广播-->
                <action android:name="android.intent.action.ACTION_PREBOOT_IPO" /><!--休眠起来广播-->
            </intent-filter>
        </receiver>
    </application>

</manifest>